{% extends "layout.html" %}
{% load static %}

{% block body %}

        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
             
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                 
                </nav>
                <div class="container-fluid">
                    <h3 class="text-dark mb-4">DATA</h3>
                    <div class="card shadow">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 font-weight-bold">BD</p>
                        </div>
                        <div class="card-body"></div>
                    </div>
                </div>
            </div>
{% endblock %}          